@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row row-bottom">
                <div class="layui-carousel" id="photo" style="margin: auto">
                    <div carousel-item="" id="img_box">
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col width="150">
                        <col width="200">
                    </colgroup>
                    <tr>
                        <td>检测序号</td>
                        <td>${item.corpid}</td>
                        <td>车牌号码</td>
                        <td>${item.vehicleid}</td>
                    </tr>
                    <tr>
                        <td>货车类型</td>
                        <td>${item.vehicleTypeString}</td>
                        <td>轴数</td>
                        <td>${item.axlesum}</td>
                    </tr>
                    <tr>
                        <td>车速（km/h）</td>
                        <td>${item.speed}</td>
                        <td>车道号</td>
                        <td>${item.laneno}</td>
                    </tr>
                    <tr>
                        <td>总重（kg）</td>
                        <td>${item.totalweight}</td>
                        <td>超限量（kg）</td>
                        <td>${item.overlimited}</td>
                    </tr>
                    <tr>
                        <td>检测站点</td>
                        <td>${item.corpname}</td>
                        <td>检测时间</td>
                        <td>${item.strTime}</td>
                    </tr>
                </table>
                <input type="hidden" id="id" value="${item.id}">
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-12 text-center">
                    <#button name="关闭" id="cancel" icon="fa-eraser" clickFun="HlcminfoInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/detecManage/corpinfo/corpinfo_info.js"></script>
<script src="${ctxPath}/static/modular/compreAnalysis/hlcminfo/hlcminfo_info.js"></script>
@}
