@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="authid" name="数据服务"/>
                </div>

                <div class="col-sm-6">
                            <#input id="paraid" name="参数名" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-12 text-center">
                    <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="ServerParaInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ServerParaInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/dms/serverPara/serverPara_info.js"></script>
@}
