@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>数据服务器日志上传管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="DmsPara.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="DmsParaTableToolbar" role="group">
                            @if(shiro.hasPermission("/dmsPara/add")){
                                <#button name="添加" icon="fa-plus" clickFun="DmsPara.openAddDmsPara()"/>
                            @}
                            @if(shiro.hasPermission("/dmsPara/update")){
                                <#button name="修改" icon="fa-edit" clickFun="DmsPara.openDmsParaDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/dmsPara/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="DmsPara.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="DmsParaTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/dms/dmsPara/dmsPara.js"></script>
@}
