@layout("/common/_container.html"){
<link href="${ctxPath}/static/css/lianbanli/main.css" rel="stylesheet">
<link href="${ctxPath}/static/css/lianbanli/mycss.css" rel="stylesheet">
<div class="body-nopadding">
	<div class="layui-row">
		<div class="layui-col-md6">
			<h2 class="margin-left-30">
				<img src="${ctxPath}/static/img/car/title.png" style="width: 25px;" />案件信息
			</h2>
		</div>
	</div>
	<div class="ibox-content">
		<div class="layui-row margin-bottom-10">
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">案件类型：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<label class="layui-form-label1">${item.casetype}</label>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">案件来源：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.caseSource}</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">案由：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.casegist}</label>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row margin-bottom-10">
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">案发时间：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.casetime}</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">执法类型：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.LawType}</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">违法类型：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.t_violation}</label>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">法律依据：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.accordance}</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">执法人员1：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.enforcername1}</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">执法人员2：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.enforcername2}</label>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">车辆图片：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div class="tuuu">
						<img src="${ctxPath}/static/img/car/car.png" alt="图片显示异常" />
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">车辆视频1：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<img src="${item.video1}" style="width: 40%;" alt="没有视频" />
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">车辆视频2：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<img src="${item.video1}" style="width: 40%;" alt="没有视频" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-md6">
			<h2 class="margin-left-30">
				<img src="${ctxPath}/static/img/car/title.png" style="width: 25px;" />超限信息
			</h2>
		</div>
	</div>
	<div class="ibox-content">
		<div class="layui-row margin-bottom-10">
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">总重：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.ratedtotalweight}kg</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">限重：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.weightlimited}kg</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">超重：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.overlimited}</label>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row margin-bottom-10">
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">总长：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">7500mm</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">限长：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">18100mm</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">超长：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.overlength}</label>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row margin-bottom-10">
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">总宽：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">3000mm</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">限宽：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">3300mm</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">超宽：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.overwidth}mm</label>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row margin-bottom-10">
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">总高：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">2900mm</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">限高：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">4000mm</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">超高：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.overheight}mm</label>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row margin-bottom-10">
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">罚款金额：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.shouldpay} 元</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">赔偿金额：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">${item.damageamount +
							item.shouldpay } 元</label>
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-col-md4 text-right">
					<label class="layui-form-label1">合计罚款：</label>
				</div>
				<div class="layui-col-md6 text-left">
					<div>
						<label class="layui-form-label1">1750 元</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-md6">
			<h2 class="margin-left-30">
				<img src="${ctxPath}/static/img/car/title.png" style="width: 25px;" />当事人信息
			</h2>
		</div>
	</div>
	<div class="ibox-content margin-bottom-30">
		<fieldset class="layui-elem-field layui-field-title">
			<legend class="margin-bottom-10" style="color: #000;">车辆信息</legend>
			<div class="layui-row margin-bottom-10">
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">车辆号码：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.vehicleid}</label>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">行驶证号码：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.drivinglicense}</label>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">道路运输证号码：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.lawpersonname}</label>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row margin-bottom-10">
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">承运人姓名：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.crarriename}</label>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">承运人地址：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.carrieraddr}</label>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">货物名称：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.cargoname}</label>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row margin-bottom-10">
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">出发地：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.departure}</label>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">目的地：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.destination}</label>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset class="layui-elem-field layui-field-title">
			<legend class="margin-bottom-10" style="color: #000;">驾驶员信息</legend>
			<div class="layui-row margin-bottom-10">
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">司机姓名：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.drivername} </label>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">身份证号码：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.driveridcard}</label>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">性别：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.drivergender}</label>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row margin-bottom-10">
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">联系方式：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.driverphone}</label>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">从业资格：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.qualificationid}</label>
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-col-md4 text-right">
						<label class="layui-form-label1">户籍：</label>
					</div>
					<div class="layui-col-md6 text-left">
						<div>
							<label class="layui-form-label1">${item.driverres}</label>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
	<div id="showCar" class="gray-bg" style="display: none">
		<div class="body-nopadding">
			<div class="ibox-content margin-top-30">
				<div class="layui-row margin-bottom-10">
					<div class="layui-col-md12 text-center">
						<div class="carousel">
							<div class="box_1">
								<!-- <img src="${ctxPath}/static/img/car/car.png" alt="图片显示异常" />
								<img alt="图片显示异常" src="${ctxPath}/${item.picview}"> -->
								<img src="${ctxPath}/static/img/car/truck.jpg" alt="图片显示异常" />
								<img src="${ctxPath}/static/img/car/truck.jpg" alt="图片显示异常" />
								<img src="${ctxPath}/static/img/car/truck.jpg" alt="图片显示异常" />
								<img src="${ctxPath}/static/img/car/truck.jpg" alt="图片显示异常" />
							</div>
							<div class="left">
								<i class="layui-icon"
									style="font-size: 30px; color: #fff; line-height: 50px;">&#xe603;</i>
							</div>
							<div class="right">
								<i class="layui-icon"
									style="font-size: 30px; color: #fff; line-height: 50px;">&#xe602;</i>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- <script src="../../Resource/Scripts/Js/modules/jquery-3.2.1.min.js"></script>
    <script src="../../Resource/Scripts/Plugins/layui/layui.all.js"></script> [object object] -->
<script src="${ctxPath}/static/map/js/module.js"></script>
<script>
	$('.tuuu').on('click', function() {
		var href = $("#showCar").html();
		console.log(href);
		layer.open({
			type : 1,
			area : [ '1200px', '440px' ],
			fixed : true, //不固定
			content : href,
			resize : false,
			title : '车辆图片',
			anim : 5,
			end : null
		});
	});
	$('.cancel').on('click', function () {
        console.log(1)
        Module.Box.CloseDialog()
    });


    var len = $(".box_1 img").length;//得到图片个数
    $(".box_1").width(1200 * len);//给图片盒子赋宽度值
    //移动坐标从0到-545
    $(".right").click(function () {
        $(".box_1").stop().animate({ left: -545 }, 1000, function () {
            $(".box_1 img:last").after($(".box_1 img:first"))//动画播放完毕后，将第一张图放在最后一张图的后面
            $(".box_1").css("left", 0)//动画播放完毕后，将盒子坐标设置为0
        })
    });
    $(".left").click(function () {
        $(".box_1 img:first").before($(".box_1 img:last"))//把最后一张图放在第一张图前面
        $(".box_1").css("left", -545)//设置坐标值为-545
        $(".box_1").stop().animate({ left: 0 }, 1000)//坐标从-545到0
    });
</script>
@}
