<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        大大大大屏
    </title>
    <meta charset="utf-8" />
    <link href="${ctxPath}/static/map/css/main.css" rel="stylesheet" />
    <link href="${ctxPath}/static/map/css/mycss.css" rel="stylesheet" />
    <link href="${ctxPath}/static/map/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="bg03">
<div class="body-nopadding">
    <div class="name margin-top-30">
        <span class="layui-col-md3">&nbsp;</span>
        <span class="layui-col-md6" style='padding-left:30px'>公路超限超载大数据智能分析平台</span>
        <span class="layui-col-md3" id='pageTime'>2018/03/24</span>
    </div>
    <div class="MyContent layui-row margin-left-30 margin-top-30  margin-bottom-20">
        <div class="layui-col-md3">
            <div class="titlecolor float-left"></div>
            <div class="float-left titlew">治超排名</div>
            <div class="layui-clear"></div>
            <div class="bg1a margin-top-10">
                <div id="ranking" style="width: 100%;height:260px;margin-left:30px;"></div>
            </div>

            <div class="titlecolor float-left margin-top-10"></div>
            <div class="float-left titlew margin-top-10">超限品类占比</div>
            <div class="layui-clear"></div>
            <div class="bg1a margin-top-10">
                <div id="category" style="width: 100%;height:240px;"></div>
            </div>

            <div class="titlecolor float-left margin-top-10"></div>
            <div class="float-left titlew margin-top-10">超限车籍地</div>
            <div class="layui-clear"></div>
            <div class="bg1a margin-top-10">
                <div id="vehicle" style="width: 100%;height:260px;"></div>
            </div>

        </div>
        <div class="layui-col-md6">
            <div class="MyStatistics margin-left-30 margin-right-0 bg1a" style="padding:30px 0;">
                <div class="layui-col-md3 text-center">
                    <h1 class="count">17.57/<span class="text-12">万辆</span></h1>
                    <div class="countname">车流量</div>
                </div>
                <div class="layui-col-md3 text-center text-red">
                    <h1 class="count">8337/<span class="text-12">辆</span></h1>
                    <div class="countname">超限量</div>
                </div>
                <div class="layui-col-md3 text-center">
                    <h1 class="count">6880/<span class="text-12">辆</span></h1>
                    <div class="countname">处罚量</div>
                </div>
                <div class="layui-col-md3 text-center">
                    <h1 class="count">22.9万/<span class="text-12">吨</span></h1>
                    <div class="countname">卸载量</div>
                </div>
                <div class="layui-clear"></div>
            </div>

            <div id="map" class="margin-left-30 margin-right-0 bg1a" style="height:700px" ></div>
            <div class="map-btn1">退出驾驶舱模式</div>
            <div class="map-btn2">返回上层</div>
        </div>
        <div class="layui-col-md3">
            <div class="margin-30 titlecolor float-left"></div>
            <div class="float-left titlew">治超指数</div>
            <div class="layui-clear"></div>
            <div class="bg1a margin-30 margin-top-10 number1">
                <span>22.7</span>
            </div>

            <div class="margin-30 titlecolor float-left margin-top-10"></div>
            <div class="float-left titlew margin-top-10">治超雷达</div>
            <div class="layui-clear"></div>
            <div class="bg1a margin-30 margin-top-10">
                <div id="overload" style="width: 100%;height:260px;"></div>
            </div>

            <div class="margin-30 margin-top-10 titlecolor float-left"></div>
            <div class="float-left titlew  margin-top-10">实时监控</div>
            <div class="layui-clear"></div>
            <div class="margin-30 bg1a margin-top-10" style="padding:10px 0;">
                <span class="camera">摄像头数据</span>
                <span class="camera textgy magin">摄像头：231</span>
                <span class="camera textgy">故障数：5</span>
                <div class="margin-left-30 margin-top-10">
                    <div class="layui-col-md4">
                        <div class="video">
                            <img src="${ctxPath}/static/map/img/stop.png" />
                        </div>
                        <div class="video-title">治超站</div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="video">
                            <img src="${ctxPath}/static/map/img/stop.png" />
                        </div>
                        <div class="video-title">高速</div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="video">
                            <img src="${ctxPath}/static/map/img/stop.png" />
                        </div>
                        <div class="video-title">源头</div>
                    </div>
                </div>
                <div class="layui-clear"></div>
            </div>

            <div class="margin-30 margin-top-10 titlecolor float-left"></div>
            <div class="margin-30 margin-top-10 float-left titlew">检测信息</div>
            <div class="layui-clear"></div>
            <div class="margin-30 bg1a margin-top-10">
                <div class="message">
                    <div>17:29 炎陵县治超站发现超限车辆湘B3TT76</div>
                    <div>17:29 石峰区治超站发现超限车辆湘BL4472</div>
                    <div>17:29 芦淞区治超站发现超限车辆粤B36501</div>
                    <div>17:29 株洲县治超站发现超限车辆川BB2761</div>
                    <div>17:29 荷塘区治超站发现超限车辆湘BT3728</div>
                    <div>17:29 株洲县治超站发现超限车辆湘B26942</div>
                    <div>17:29 炎陵县治超站发现超限车辆陕B3GT33</div>
                    <div>17:29 醴陵市治超站发现超限车辆湘BL9837</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/map/layui/layui.all.js"></script>
<script src="${ctxPath}/static/map/js/echarts.js"></script>
<script src="${ctxPath}/static/map/js/jquery-3.2.1.min.js"></script>
<script src="${ctxPath}/static/map/js/china-main-city-map.js"></script>
<script src="${ctxPath}/static/map/js/module.js"></script>
<script type="text/javascript">
    //治超排名
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('ranking'));
    // 指定图表的配置项和数据
    var option = {
        textStyle: {
            color: '#fff',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        color: ['#f54a76','#05c3f9'],
        lineStyle: {
            color: '#fff',
        },
        legend: {
            data: ['超限量', '车流量'],
            textStyle: {
                color: '#fff',
            },
            top:'10px'
        },
        grid: {//直角坐标系内绘图网格
            show: false,//是否显示直角坐标系网格。[ default: false ]
            bottom: "36%", //
            x:'12%',
        },
        xAxis: [
            {
                type: 'category',
                axisLabel: {
                    interval: 0,
                    rotate: 40
                },
                data: ['长沙市', '株洲市', '湘潭市', '衡阳市', '邵阳市', '岳阳市', '常德市', '张家界市', '益阳市', '娄底市', '郴州市', '永州市', '怀化市', '湘西土家族苗族自治州'],
                nameTextStyle: {
                    color: '#fff',
                },
                axisLine: {
                    linneStyle: {
                        color: '#fff',
                    }
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 辆'
                },
            },
        ],
        series: [
            {
                name: '超限量',
                type: 'bar',
                data: [140, 600, 230, 366, 210, 303, 220, 346, 148, 418, 226, 257, 178, 65]
            },
            {
                name: '车流量',
                type: 'bar',
                data: [780, 1200, 680, 590, 563, 947, 1000, 856, 914, 890, 1222, 987, 798, 990]
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script type="text/javascript">
    //超限品类占比
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('category'));
    // 指定图表的配置项和数据
    var option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['钢材', '矿石', '石油', '煤炭', '水泥'],
            textStyle: {
                color: '#fff',
            }
        },
        color: [
            '#ffc956',
            '#5dc1ff',
            '#e2a8f7',
            '#7adc6e',
            '#fe7d79'
        ],
        series: [
            {
                name: '超限品类占比',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    { value: 335, name: '钢材' },
                    { value: 310, name: '矿石' },
                    { value: 234, name: '石油' },
                    { value: 135, name: '煤炭' },
                    { value: 1548, name: '水泥' }
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script type="text/javascript">
    //超限车籍地
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('vehicle'));
    // 指定图表的配置项和数据
    var option = {
        textStyle: {
            color: '#fff',
        },
        color: ['#f54a76','#05c3f9'],
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#fff'
                }
            }
        },
        grid: {//直角坐标系内绘图网格
            show: false,//是否显示直角坐标系网格。[ default: false ]
            x: '20%',
        },
        xAxis: [
            {
                type: 'category',
                data: ['湘', '鄂', '粤', '陕', '宁'],
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 辆'
                },
            },
        ],
        series: [
            {
                name: '超限量',
                type: 'bar',
                data: [3707, 2500, 980, 780, 370]
            },
            {
                name: '车流量',
                type: 'bar',
                data: [7800, 4500, 3200, 1200, 870]
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script type="text/javascript">
    //治超雷达
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('overload'));
    // 指定图表的配置项和数据
    var option = {
        color: ['#05c3f9', '#f54a76'],
        tooltip: {},
        legend: {
            data: ['2018年3月治超站数据', '2017年3月治超站数据'],
            bottom: '0px',
            textStyle: {
                color: '#fff'
            }
        },
        radar: {
            // shape: 'circle',
            name: {
                textStyle: {
                    color: '#fff'
                }
            },
            indicator: [
                { name: '设备在线', max: 236 },
                { name: '车流量', max: 20000 },
                { name: '超限量', max: 10000 },
                { name: '处罚量', max: 10000 },
                { name: '卸载量', max: 10000 }
            ]
        },
        series: [{
            type: 'radar',
            // areaStyle: {normal: {}},
            data: [
                {
                    value: [231, 17570, 8337, 6880, 5900],
                    name: '2018年3月治超站数据'
                },
                {
                    value: [200, 18000, 7600, 4500, 6000],
                    name: '2017年3月治超站数据'
                }
            ]
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

<script type="text/javascript">
    $(document).ready(function(){
        var myContent=$('div .MyContent').height();
        var myStatistics=$('div .MyStatistics').height();
        $("#map").height(myContent-myStatistics-60);
        $("#map div").height(myContent-myStatistics-60);
        var pageTime=new Date();
        $("#pageTime").html(pageTime.getFullYear()+'/'+(pageTime.getMonth()+1)+'/'+pageTime.getDate());
    })
    var myChart = echarts.init(document.getElementById('map'));
    //存储切换的每一级地图信息
    var mapStack = [];
    var timeFn = null;
    var curMap = {};
    // 初始化地图
    loadMap('430000', 'hunan');

    // 退出驾驶舱模式
    $('.map-btn1').bind('click', function () {
        parent.$('.layui-layer-setwin .layui-layer-close').click();
    });


    // 返回上层
    $('.map-btn2').bind('click', function () {
        clearTimeout(timeFn)
        var map = mapStack.pop();
        // console.log(map);
        if (!mapStack.length && !map) {
            alert('已经达到最上一级地图');
            return;
        }
        loadMap(map.mapCode, map.mapName);
    });


    myChart.on('click', function (params) {
        clearTimeout(timeFn);

        timeFn = setTimeout(function(){
            var name = params.data.name || '';
        var mapCode = cityMap[name];
        // console.log('name', name);
        // console.log('mapCode', mapCode);
        if (!mapCode) {
            console.log('无此区域地图显示');
            return;
        }
        loadMap(mapCode, name);
        //将上一级地图信息压入mapStack
        mapStack.push({
            mapCode: curMap.mapCode,
            mapName: curMap.mapName
        });
    }, 250);
    })

    myChart.on('dblclick', function (params) {
        clearTimeout(timeFn)
        var map = mapStack.pop();
        // console.log(map);
        if (!mapStack.length && !map) {
            console.log('已经达到最上一级地图');
            return;
        }
        loadMap(map.mapCode, map.mapName);
    })
    function loadMap(mapCode, mapName) {

        $.getJSON('${ctxPath}/static/map/china-main-city/' + mapCode + '.json', function (data) {
            if (data) {
                // console.log(data)
                echarts.registerMap(mapName, data);

                var geoCoordMap = getAreaData(mapCode).geoCoordMap || '';
                var data = getAreaData(mapCode).geoData || '';
                var max = 480, min = 9;
                var maxSize4Pin = 100, minSize4Pin = 20;

                var convertData = function (data) {
                    var res = [];
                    for (var i = 0; i < data.length; i++) {
                        var geoCoord = geoCoordMap[data[i].name];
                        if (geoCoord) {
                            res.push({
                                name: data[i].name,
                                value: geoCoord.concat(data[i].value)
                            });
                        }
                    }
                    return res;
                }
                var option = {
                    title: { text: '', subtext: '', x: 'center', textStyle: { color: '#ccc' } },
                    tooltip: {
                        trigger: 'item',
                        formatter: function (params) {
                            if (typeof (params.value)[2] == "undefined") {
                                return params.name + ' : ' + params.value;
                            } else {
                                return params.name + ' : ' + params.value[2];
                            }
                        }
                    },
                    visualMap: {
                        show: false,
                        min: 0,
                        max: 500,
                        left: 'left',
                        top: 'bottom',
                        text: ['高', '低'],
                        calculable: true,
                        seriesIndex: [1],
                        inRange: { color: ['#75dcf9',
                            '#37a3fe',
                            '#2552e0'] }
                    },
                    geo: {
                        show: true,
                        map: mapName,
                        label: { normal: { show: false }, emphasis: { show: false, } },
                        roam: false,
                        itemStyle: { normal: { areaColor: '#031525',
                            borderColor: '#3B5077', }, emphasis: {
                            areaColor: '#05dff9', } },
                        //roam:'scale',
                        zoom:1.2,
                        scaleLimit:{min:1,max:100}
                    },
                    series: [
                        {
                            name: '超限量',
                            type: 'scatter',
                            coordinateSystem: 'geo',
                            data: convertData(data),
                            symbolSize: function (val) {
                                return val[2] / 10;
                            },
                            label: { normal: { formatter: '{b}', position: 'right', show: true }, emphasis: { show: false } },
                            itemStyle: { normal: { color: '#05C3F9' } },
                            data: [],
                            roam: true,
                            itemStyle: { normal: {
                                areaColor: '#031525',
                                borderColor: '#3B5077', }, emphasis: {
                                areaColor: '#05dff9' } },
                            animation: false,
                        },
                        {
                            type: 'map',
                            geoIndex: 0,
                            aspectScale: 0.75,
                            showLegendSymbol: false,
                            label: { normal: { show: false }, emphasis: { show: false, textStyle: {
                                color: '#fff' } } },
                            roam: false,
                            itemStyle: { normal: {
                                areaColor: '#031525',
                                borderColor: '#3B5077', }, emphasis: {
                                areaColor: '#05dff9' } },
                            animation: false,
                            data: data
                        },
                        {
                            name: '点',
                            type: 'scatter',
                            coordinateSystem: 'geo',
                            symbol: 'pin',
                            symbolSize: function (val) {
                                var a = (maxSize4Pin - minSize4Pin) / (max - min);
                                var b = minSize4Pin - a * min;
                                b = maxSize4Pin - a * max;
                                return a * val[2] + b;
                            },
                            label: {
                                normal: { show: true, textStyle: { color: '#fff', fontSize: 9 } }
                            },
                            itemStyle: { normal: { color: '#F62157', } },
                            zlevel: 6,
                            data: convertData(data),
                        },
                        {
                            name: '圆',
                            type: 'effectScatter',
                            coordinateSystem: 'geo',
                            data: convertData(data),
                            symbolSize: function (val) {
                                return val[2] / 10;
                            },
                            showEffectOn: 'render',
                            rippleEffect: { brushType: 'stroke' },
                            hoverAnimation: true,
                            label: { normal: { formatter: '{b}', position: 'right', show: true } },
                            itemStyle: { normal: {
                                color: '#fff', shadowBlur: 10,
                                shadowColor: '#efefef' } },
                            zlevel: 1
                        },
                    ]
                };
                myChart.setOption(option);
                curMap = {
                    mapCode: mapCode,
                    mapName: mapName
                }
            } else {
                alert('无法加载该地图！');
            }
        })
    }

    /**
     * 获取行政区模拟数据
     */
    function getAreaData(code) {
        var data = {};
        $.ajax({
            url: '${ctxPath}/static/map/main-city/' + code + '.json',
            type: 'GET',
            timeout: '3000',
            async: false,
            success: function (params) {
                if (params) {
                    data = params;
                } else {
                    data = null;
                }
            }
        })
        return data
    }

    /**
     * 根据行政区名称获取行政区代码
     */
    function getAreaCode(name) {
        return cityMap[name];
    }



</script>

<script>
    $('.video').on('click', function () {
        Module.Box.OpenDialog('1200', '630', '${ctxPath}/static/map/video.html', '实时监控')
    });
</script>
</body>
</html>
