<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>边界治超</title>
    <meta charset="utf-8" />
    <link href="${ctxPath}/static/Resource/Css/main.css" rel="stylesheet" />
    <link href="${ctxPath}/static/Resource/Css/mycss.css" rel="stylesheet" />
    <link href="${ctxPath}/static/Resource/Scripts/Plugins/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-bg-gray">
<div class="body-nopadding">
    <h2 class="margin-left-30"><img src="${ctxPath}/static/Resource/Images/title.png" style="width: 25px;" />边界治超</h2>
    <div class="ibox-content margin-bottom-30">
        <div class="layui-row margin-bottom-10">
            <div class="layui-col-md6">
                <div class="layui-col-md4 text-right">
                    <label class="layui-form-label1">查询时间</label>
                </div>
                <div class="layui-col-md6 text-left">
                    <input type="text" class="layui-input" id="selectDateArea">
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-col-md4 text-right">
                    <label class="layui-form-label1">车籍</label>
                </div>
                <div class="layui-col-md6 text-left">
                    <form class="layui-form">
                        <select lay-verify="required">
                            <option value="">陕</option>
                            <option value="">粤</option>
                            <option value="">川</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center margin-top-30">
            <button class="layui-btn">查询</button>
        </div>
    </div>
    <div class="ibox-content">
        <div class="chart height-20">
            <div class="shu shu1"></div>
            <span>边界站点分布图</span>
        </div>
        <div id="time" style="width: 100%;height:400px;margin: 0 auto;"></div>
    </div>
    <div class="ibox-content margin-top-30">
        <div id="site" style="width: 100%;height:400px;padding:30px;"></div>
    </div>

    <h2 class="margin-left-30"><img src="${ctxPath}/static/Resource/Images/title.png" style="width: 25px;" />路线分布</h2>
    <div class="ibox-content margin-bottom-30">
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                <tr>
                    <th class="text-center">序号</th>
                    <th>车籍地</th>
                    <th>起点-途经-终点</th>
                    <th>车辆数量</th>
                    <th>概率</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td>山东</td>
                    <td>潭耒高速株洲西收费站-王家洲不停车预检站-云龙超限检测站-醴潭高速醴陵东收费站</td>
                    <td>346</td>
                    <td>70%</td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="demo7"></div>
        </div>
    </div>

    <script src="${ctxPath}/static/Resource/Scripts/Js/modules/echarts.min.js"></script>
    <script src="${ctxPath}/static/Resource/Scripts/Js/modules/jquery-3.2.1.min.js"></script>
    <script src="${ctxPath}/static/Resource/Scripts/Plugins/layui/layui.all.js"></script>
    <script src="${ctxPath}/static/Resource/Scripts/Js/modules/module.js"></script>
    <script src="${ctxPath}/static/js/common/Ning.js"></script>

    <script>
        /*$(document).ready(function () {
            Module.Box.OpenDialog('1000', '500', '选择.html', '车流量或超限分析')
        });*/
    </script>
    <script>

        //绑定日期选择框
        //时间范围选择
        layui.laydate.render({
            elem: '#selectDateArea'
            ,range: '~' //或 range: '~' 来自定义分割字符
        });


        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'demo7'
                , count: 1
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                , jump: function (obj) {
                    console.log(obj)
                }
            });
        });



        var myChart = echarts.init(document.getElementById('time'));
        option = {
            title: {
                text: '边界站点情况',
                /*subtext: '各站点对比分析',*/
                x: 'center',
                textStyle: {
                    fontSize: '20',
                },
                subtextStyle: {
                    fontSize: '15',
                }
            },
            tooltip : {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                bottom: 'bottom',
                data:['超限量','车流量']

            },
            grid: {
                left: '5%',
                right: '6%',
                bottom: '8%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    name :'站点',
                    axisLabel: {
                        interval:0,
                        rotate:40
                    },
                    data : ['潭耒高速株洲西收费站','伞铺收费站','沪昆高速株洲东收费站','芷线桥收费站','莲易高速株洲北收费站','长株高速云龙收费站','株洲收费站']
                }
            ],
            yAxis : [
                {
                    name:'超限量',
                    type : 'value',
                    axisLabel: {
                        formatter: '{value}辆'
                    }
                },
                {
                    name:'车流量',
                    type : 'value',
                    axisLabel: {
                        formatter: '{value}辆'
                    }
                }
            ],
            series : [
                {
                    name:'超限量',
                    type:'bar',
                    data:[659, 732, 369, 423, 254, 130,250]
                },
                {
                    name:'车流量',
                    type:'line',
                    yAxisIndex:1,
                    data:[6680, 5680, 6920, 4680, 5580, 2680,2100]
                },
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('site'));
        // 指定图表的配置项和数据
        var option =
            {
                title: {
                    text: '超限车辆归属地',
                    /*subtext: '各站点对比分析',*/
                    x: 'center',
                    textStyle: {
                        fontSize: '20',
                    },
                    subtextStyle: {
                        fontSize: '15',
                    }
                },
                color: [
                    '#fec88a', '#7bc576', '#f19319', '#6dcff4', '#3db393'
                ],
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    bottom: 'bottom',
                    data: ['陕西','湖南','广东','四川','江西','山东']
                },
                series: [
                    {
                        name: '车籍',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: 24690, name: '湖南' },
                            { value: 2990, name: '陕西' },
                            { value: 1950, name: '广东' },
                            { value: 990, name: '四川' },
                            { value: 746, name: '江西' },
                            { value: 640, name: '山东' },
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


    </script>
</body>
</html>
