 @layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="empno" name="员工编号" value="${item.empno}" underline="true" readonly="true"/>
                            <#input id="ename" name="员工姓名" value="${item.ename}" underline="true"/>
                            <#input id="job" name="员工职位" value="${item.job}" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <div class="form-group">
								<label class="col-sm-3 control-label">状态</label>
								<div class="col-sm-9">
									<#SelectDict id="status" dictName="status" dataStyle="btn"
								cssName="form-control  " defaultSelected = "${item.status}" underline="true"></#SelectDict>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
                            <#input id="hiredate" name="入职时间" underline="true" type="text"
                            		clickFun="laydate({istime:false, format: 'YYYY-MM-DD'})"
                            		value="${item.hiredate}"
                            />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-12 text-center">
                    <#button btnCss="info" name="保存" id="ensure" icon="fa-check" clickFun="EmpInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="EmpInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/zc_js/employee/Emp_info.js"></script>
@}
