@layout("/common/_container.html"){
<style>
</style>



<div class="row ">
    <div class="col-sm-12">
        <div class="ibox float-e-margins" style="margin-bottom: 0">
            <div class="ibox-content" style="margin: 0;">
                <div class="iboxMenu">
                    <div>
                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea" id="test" readonly></textarea>
                    </div>
                    <div>
                        <button onclick="Yi.components.getLineData([], 'test')" class="layui-btn layui-btn-sm">选取路线</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@}
