@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>选择执法车</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="deptName" name="管理部门" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="carNumber" name="执法车牌号" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="查询" icon="fa-search" clickFun="LawEnforcecar.search()"/>
                            </div>
                        </div>
                        <#table id="LawEnforcecarTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/detecManage/meinfo/lawEnforcecar.js"></script>
@}
