@layout("/common/_container.html"){
<form id="meinfoForm" class="form-horizontal" data-toggle="validator">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <#input id="checkno" name="检测单号" value="${checkno}" underline="true" readonly="readonly" />
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="vehicleno_name" class="col-sm-3 control-label">流动执法车车牌号</label>
                                <input id="vehicleno" name="vehicleno" type="hidden"/>
                                <div class="col-sm-9">
                                    <input id="vehicleno_name" name="vehicleno_name" class="form-control" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <#input id="vehicleid" name="车牌号" underline="true" />
                        </div>
                        <div class="col-sm-6">
                            <#input id="drivername" name="驾驶人姓名" underline="true" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <#input id="axlesum" name="轴数" underline="true" />
                        </div>
                        <div class="col-sm-6">
                            <#input id="ratedloading" name="核定载质量(kg)" underline="true" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <#input id="ratedtotalweight" name="车总质量(kg)" underline="true" />
                        </div>
                        <div class="col-sm-6">
                            <#input id="fctotalweight" name="检测总质量(kg)" underline="true" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <#input id="overlimited" name="超限量(kg):" underline="true" />
                        </div>
                        <div class="col-sm-6">
                            <#input id="overload" name="超载量(kg)" underline="true" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <#input id="weightlimited" name="车货限重(kg):" underline="true" />
                        </div>
                        <div class="col-sm-6">
                            <#input id="fctime" name="检测时间" underline="true" clickFun="laydate({istime: false, format: 'YYYY-MM-DD hh:mm:ss'})"/>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <#input id="fcwidth" name="车货总宽(mm):" underline="true" />
                        </div>
                        <div class="col-sm-6">
                            <#input id="overwidth" name="超宽量(mm)" underline="true" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <#input id="overheight" name="超高量(mm):" underline="true" />
                        </div>
                        <div class="col-sm-6">
                            <#input id="fcheight" name="车货总高(mm)" underline="true" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <#input id="overlength" name="超长量(mm):" underline="true" />
                        </div>
                        <div class="col-sm-6">
                            <#input id="fclength" name="车货总长(mm)" underline="true" />
                        </div>
                    </div>

                </div>

            </div>
        </div>

       <!-- <h2 class="margin-left-30"><img src="${ctxPath}/static/Resource/Images/title.png" style="width: 25px;"/>超载信息</h2>
        <div class="ibox-content">

            <div class="row">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col width="150">
                        <col width="200">
                    </colgroup>
                    <tr>
                        <td>核定载质量(kg)</td>
                        <td>
                            <input type="text" id="ratedloading" value="" class="form-control"/>
                        </td>
                        <td>超载量(kg)</td>
                        <td>
                            <input type="text" id="overload" value="" class="form-control"/>
                        </td>
                    </tr>
                </table>
            </div>

        </div>-->

        <div class="row btn-group-m-t">
            <div class="col-sm-12 text-center">
                <button class="layui-btn">从地磅获取数据</button>
                <button class="layui-btn" onclick="MeinfoInfoDlg.addSubmit()">保存</button>
                <button class="layui-btn layui-btn-primary cancel" onclick="MeinfoInfoDlg.close()">取消</button>
            </div>
        </div>
    </div>
</form>
<script src="${ctxPath}/static/modular/detecManage/meinfo/meinfo_info.js"></script>
<script>
    $(function () {
        //设置文本框为当前时间
        Yang.Tools.setNowDate('fctime',null)
    })
</script>
@}
