<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhichao.dal.mapper.LawEnforcecarMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhichao.beans.guns.LawEnforcecar">
		<id column="id" property="id" />
		<result column="vehicleid" property="vehicleid" />
		<result column="vehicleno" property="vehicleno" />
		<result column="vehicletype" property="vehicletype" />
		<result column="manager" property="manager" />
		<result column="managertel" property="managertel" />
		<result column="deptid" property="deptid" />
		<result column="areacode" property="areacode" />
		<result column="gpsdeviceid" property="gpsdeviceid" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, vehicleid, vehicleno, vehicletype, manager, managertel, gpsdeviceid
        deptid,(select simplename from sys_dept where id=deptid limit 0,1) deptname
        ,areacode,(select areaname from bs_area b where b.areacode=a.areacode limit 0,1) areaname
        ,(select cartypename from bs_cartype where cartypecode=vehicletype limit 0,1) cartypename
        from bs_law_enforcecar a
    </sql>

	<select id="findList" resultType="map">
		select * from (select
		<include refid="Base_Column_List" />
		) tab where 1=1
		<if test="carNumber != null and carNumber != ''">
			and tab.vehicleid like CONCAT('%',#{carNumber},'%')
		</if>
		<if test="deptName != null and deptName != ''">
			and tab.deptname like CONCAT('%',#{deptName},'%')
		</if>
	</select>
</mapper>
