@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>自定义报表模块管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Templates.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="TemplatesTableToolbar" role="group">
                            @if(shiro.hasPermission("/templates/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Templates.openAddTemplates()"/>
                            @}
                            @if(shiro.hasPermission("/templates/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Templates.openTemplatesDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/templates/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Templates.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="TemplatesTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/reportForm/templates/templates.js"></script>
@}
